<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<h1 th:text="${user.isLogin()? ('witaj '+ user.getUser().getUsername()): ('Nie jestes zalogowany')}"></h1>
<h2>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div th:if="${not #lists.isEmpty(post)}">

        <table class="table table-striped">
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>User Id</th>

            </tr>
            <tr th:each="posts : ${post}">
                <td th:text="${PostEntity.id}">id country</td>
                <td th:text="${PostEntity.title}">id country</td>
                <td th:text="${PostEntity.content}">Country Name</td>
                <td th:text="${PostEntity.user_id}">Region Id</td>
                <td th:text="${PostEntity.data}">Location</td>

            </tr>
        </table>

    </div>
</h2>
</div>
</body>
</html>