<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>logowanie</title>
</head>
<body>
<div style="text-align: center;">
    <form action="/login" method="post">
        <h1 th:text="${info}"></h1>
        <input type="text" name="username", placeholder="Podaj login"><br/>
        <input type="password" name="password", placeholder="Podaj hasło"><br/>
               <input type="submit" value="zaloguj">
    </form>
</div>
</body>
</html>